<section id="contact" class="container">
    <hr class="hrdivider"/>
    <h1 class="font-xxlarge txt-center">Contacto</h1>
    <div class="empty-space b3"></div>
    <div class="card" style="padding:20px;">
        <p class="font-xlarge"><strong>Email:</strong> <span class="font-large"><a href="mailto:{{email}}">{{email}}</a></span></p>
        <p class="font-xlarge"><strong>Whatsapp:</strong> <span class="font-large">{{cel}}</span></p>
    </div>
    <div class="empty-space b3"></div>
</section>