<!--FOOTER-->
<footer>
    <div class="empty-space b2"></div>
    <div class="container">
        <img src="https://www.entelgy.com/images/logo/Entelgy-logo-home.png">

    </div>
    <hr/>
    <div class="empty-space b1"></div>
    <div class="container flexbox-row">
        <div class="column-4">
            <h4>Datos de contacto</h4>
            <div class="empty-space b1"></div>
            <strong>Celular:</strong>  927 214 825 <br/>
            <strong>Email:</strong> emmyseco@gmail.com
            <p>
                Av. 28 de Julio, 314 <br/>
                Chiclayo (Lambayeque) - Perú
            </p>
        </div>
        <div class="column-4">
            <h4>Recursos</h4>
            <div class="empty-space b1"></div>
            <ul class="navmenu">
                <li><a href="#home">Inicio</a></li>
                <li><a href="#country">Países</a></li>
                <li><a href="#contact">Contacto</a></li>
            </ul>
        </div>
        <div class="column-4">
            <figure class="txt-center">
                <img style="width: 100px;" class="img-fluid" src="/assets/images/world.svg" alt="" srcset="/assets/images/world.png">

            </figure>
            <p class="font-small">"El mundo es un buen lugar, valdría la pena defenderlo."</p>
            <p style="text-align: end;">- ERNEST HEMINGWAY</p>
        </div>
    </div>
    <div class="empty-space b1"></div>
    <hr/>
    <div class="empty-space b3"></div>
    <!--BOTTOM-->
    <div class="footer-bottom">
        <p class="txt-center">Creado por Emmy Seco 10/03/2022 - emmyseco@gmail.com</p>
    </div>
</footer>