<header id="home">
    <div class="top-header">
        <!--RED SOCIAL-->
    </div>
    <nav class="navbar container">
        <!-- LOGO -->
        <div class="logo">
            <img src="https://www.entelgy.com/images/logo/Entelgy-logo-home.png">
        </div>
        <!-- <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label> -->
        <!-- NAVIGATION MENU -->
        <div class="menu">
            <li><a href="#home">Bienvenida</a></li>
            <li><a href="#country">Países</a></li>
            <li><a href="#contact">Contacto</a></li>
        </div>
    </nav>
</header>
