<app-header></app-header>
<!--CONTENT-->
<!--First content-->
<section style="margin-bottom: 3em;">
    <div class="container">
        <div class="empty-space b3"></div>
        <div class="flexbox-row">
            <div class="column-6">
                <div class="empty-space b3"></div>
                <h1 class="font-xxlarge">Bienvenido a la prueba <br/> tecnica Frontend</h1>
                <h5>by: Emmy Seco</h5>
                <div class="empty-space b2"></div>
                <div class="font-larger">
                    Listar 12 países mas importantes y reflejar la población actual.
                </div>
                <div class="empty-space b3"></div>
                <a href="#country" class="btn btn-primary">Ver prueba</a>
            </div>
            <div class="column-6">
                <img class="img-fluid" src="/assets/images/world.svg" alt="" srcset="/assets/images/world.png">
            </div>
        </div>
    </div>
</section>
<section id="country" class="container">
    <hr class="hrdivider"/>
    <h1 class="font-xxlarge txt-center">Países</h1>
    <div class="empty-space b3"></div>
    <div class="content" role="main">
        <div class="flexbox-row country-items" >
            <app-card-country *ngFor="let item of dataCountry" [country]="item"></app-card-country>
        </div>
    </div>
</section>
<!--CONTACT SECTION-->
<app-contact></app-contact>
<!--FOOTER SECTION-->
<app-footer></app-footer>